*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.tor{
    background-image: linear-gradient(rgba(251, 255, 0, 0.217),rgba(0, 0, 0, 0.144)),url("../image/pro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width:800px ;
    height: 300px;
    margin:auto

    
    
}
.con{
    text-align: center;
    color:white;
    margin-bottom: 20px;
    margin-top:5px
}
h1{
    font-size:30px;
    padding-top:40px;
    padding-bottom: 10px;
}
section{
    display: block;
    height:;
    width: 800px;
    margin:auto;
}
.can{
    text-align: center;
    
}
.can a{
    text-decoration: none;
    background:linear-gradient(to right,rgb(255, 106, 0),rgb(0, 89, 255));
    border-radius: 5px;
    padding:4px;
    font-weight: bold;
    font-size: 13px;
    color:white;

}

.div-3{
    background:orange;
    text-align: center;
}
.div1{
    padding-top: 15px;
    padding-bottom: 15px;
    color:black;
    font-weight: bolder;
}
.div2 ul li{
    display:inline-block;
    background: rgb(236, 236, 245);
    padding:25px 25px ;
    border-radius: 5px;
    margin:5px;
    font-weight: bolder;
    box-shadow: 10px 10px 10px rgba(69, 63, 63, 0.404);
}
h5{
    padding-top: 40px;
    font-weight: bolder;
    font-size: 14px;
    color:rgb(100, 94, 94);

}
hr{
    width:70%;
    text-align: center;
    display:inline-block;
    padding-top:0%;
}
.div3 a{
    padding-top:40px;
}